[submodule "External/Nimble"]
	path = External/Nimble
	url = git@github.com:Quick/Nimble.git
[submodule "External/aerogear-diffmatchpatch"]
	path = External/aerogear-diffmatchpatch
	url = git@github.com:aerogear/aerogear-diffmatchpatch-ios.git
[submodule "External/CryptoSwift"]
	path = External/CryptoSwift
	url = git@github.com:krzyzanowskim/CryptoSwift.git
[submodule "External/FeinstrukturUtils"]
	path = External/FeinstrukturUtils
	url = git@bitbucket.org:feinstruktur/feinstrukturutils.git
